/*
 * ----------------------
 * GRID - TUTORIAL STYLES
 * ----------------------
 */

.tutorial-style {
  background-color: #497bad;
  color: #fff;
  font-family: 'Lato', sans-serif;
  padding-bottom: 6em;
  text-align: center;
}

.tutorial-style:before {
  background: rgba(225, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  display: block;
  font-style: italic;
  padding: 1em;
  text-align: center;
}

.tutorial-style section {
  border-top: none;
  overflow: auto;
}

.tutorial-style section + section {
  margin-top: 6em;
}

@media (min-width: 1025px) {
  .tutorial-style .container {
    border: 2px dashed rgba(255, 255, 255, 0.5);
  }
}

.tutorial-style .column {
  background: rgba(225, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.tutorial-style .no-padding .column {
  padding: 0;
}

.tutorial-style h1 {
  background: white;
  color: #497bad;
  font-size: 16px;
  letter-spacing: 6px;
  margin: 0 0 6em;
  padding: 3em 0;
  text-transform: uppercase;
}

.tutorial-style h2 {
  color: white;
  font-size: 3em;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 1em 0;
  text-transform: uppercase;
}

.tutorial-style .button a {
  background: white;
  color: #333;
  display: block;
  margin: 1em;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease all;
}

@media (min-width: 1025px) {
  .tutorial-style .button a {
    display: inline-block;
  }
}

.tutorial-style .button a:first-of-type {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.tutorial-style .button a:hover {
  opacity: 0.7
}
