/* De buggging code */
/** {
	background-color: rgba(0,0,0,0.1);
	outline-color: rgba(0,0,0,0.20);
}*/

/* Styles Everything */
body {
	background-color:#fff;;
	background-size: cover;
	color:black
	z-index: 1;
}

a{
	text-decoration: none;
}

/* header*/
header {
	background-color: #fff;
	overflow: auto;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-align: center;	
}

/* Styles all Nav*/

*{
	color:black;
}
.nav-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	/*float: right;*/
	font-family: 'Quicksand', sans-serif;
}
.nav-menu li{
	display: inline-block;
	/*float: right;*/
	padding-right: 10px;
	padding-top: 10px;
	font-size: 15px;
	font-weight: bold;
	line-height: 0px;
}
li:first-child{
	padding-right: 15px;	
}
a.site-name {
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	font-size: 25px;
	letter-spacing: 1.25px;
	line-height: 0px;
}

a:hover {
	color: #ADD8E6;
}

/* about section */
section{
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;

}
#about img{
	padding-top:50px;
	padding-left: 50px;
	padding-bottom: 100px;
	position: relative;

}

h1{
	font-size: 25px;
	width: 50%;
	display: inline-block;
	position:relative;
	float: right;
	padding-top: 125px;
	padding-left:50px;
	color:#fff;
	font-weight: lighter;
	position: absolute;
}
p{
	font-size: 15px;
	max-width: 90%;
	display: inline-block;
	padding-top: 20px;
	padding-left:-50px;
	overflow:auto;
	color:#fff;
}
span{
	font-size: 15px;
	color:#fff;
	float: left;
	max-width: 50%;


}
.nav-portfolio{
	color:#fff;
	list-style-type: none;
	margin: 0px;
	padding-top: 100px;
	padding-right: 100px;
	padding-left: 100px;
	padding-bottom: 270px;
	
}
.nav-portfolio img{
	display: inline-block;
	margin-top:10px;
	padding-bottom: 30px;
	z-index: 8;
	position:relative;
}

#logo{
	padding-right: 0px;
	padding-left: 50px;
}
#window{
	padding-left: 50px;
}
.nav-portfolio li{
	font-size: 20px;
	font-weight: normal;
	display: inline-block;
	position:absolute;
	text-align: center;
	padding-top: 275px;
	padding-bottom: 20px;
	z-index: 10;
}
.nav-portfolio li a{
	color:white;
}
.nav-portfolio li a:hover{
	color: #ADD8E6;
}
#link-designs{
	padding-left:180px;
	padding-bottom: 20px;
}
#link-photo{
	padding-left: 150px;
}
div{
	background-color: white;
	margin: 0px;
	padding:1px;
}
.contact-follow ul{
	background-color: #fff;
    overflow: auto;
    margin:0px;
    padding-top: 15px;
    padding-right:0px; 
    padding-bottom: 15px;
}
.contact-follow li{
	color:#fff;
	font-size: 18px;
	font-weight: normal;
	display: inline-block;
	max-width: 33.333%;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 15px;
	margin:0px;
	padding-right: 50px;
}
.fa-envelope-o{
	padding-left: 100px;
}
#email{
	padding-right: 50px;
}
.fa-instagram{
	padding-left: 100px;
}
#insta{
	padding-right: 50px;
}
.fa-twitter-square{
	padding-left: 100px;
}
#tweet{
	padding-right: 50px;
}


/*
 * Add as many @media query break points as you like, trying to keep in mind common device screen widths.
 */
@media (min-width: 769px) and (max-width: 1024px) {
  /* You custom styles here */
  body:before { content: "Show me for landscape oriented iPads only."; }
}
@media (max-width: 320px) {
  /* You custom styles here */
  body:before { content: "Show me for portrait oriented iPhone 4 / 5 only."; }
}

